.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $secondary-color-grey;

  .header-btn {
    @include svgHover;
    cursor: pointer;
  }
}
// .header-btn {
//   border-bottom: 1.2px solid $primary-color;
//   // border-radius: 10px;
//   padding: 5px;
// }
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  img {
    border-radius: 100%;
  }
  p {
    font-weight: 500;
    // color: $secondary-color-grey;
  }
  a {
    @include svgHover;
  }
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  font-size: 28px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    padding: 6px 15px;
    background: $primary-color;
    color: $secondary-color;
    border-radius: 10px;
    cursor: pointer;

    p {
      margin: 10px;
    }
  }
}

.data-table-container {
  font-size: 14px;
  margin: 40px 0;

  .data-table-head-container,
  .data-table-footer-container {
    background: $secondary-color-grey-light;
    text-transform: uppercase;
    color: gray;
    font-size: 12px;
    font-weight: 500;
  }

  .data-table-body-container .data-table-body .product-name {
    text-decoration: underline;
  }

  .data-table-footer-container {
    // background: red;
    border-bottom: 1.4px solid $secondary-color-grey;
  }

  // .data-table-body-container {
  //   display: flex;
  //   flex-direction: column;
  // }

  .data-table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: column;
    padding: 1% 1%;

    border-top: 1.4px solid $secondary-color-grey;
    border-right: 1.4px solid $secondary-color-grey;
    border-left: 1.4px solid $secondary-color-grey;
    // border-bottom: 2px solid $secondary-color-grey;

    div {
      display: flex;
      align-items: center;
      flex: 1;

      img {
        margin-right: 10px;
      }

      // border: 2px solid red;
    }
  }

  // .data-table-body-container {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: stretch;
  // }

  // .data-table-edit {
  //   background: red;
  //   // padding: 10px;
  // }
  .data-table-actions-container {
    // background-color: red;
    // display: grid;
    gap: 0 10px;
    div {
      @include svgHover;
      width: 32px;
      height: 32px;
      svg {
        cursor: pointer;
      }
    }
  }
}
