$primary-color: #2f3645;
$secondary-color: #eeedeb;
$secondary-color-grey: #ececec;
$secondary-color-grey-light: #f9fafb;
$secondary-color-grey-dark: #d1d5db;
$hover-grey-light: #e1e1e1;
$hover-grey-dark: #bdbdbd;
